h1
{position: absolute; right:-360px;
width:100%;

font-size:28px;
color:white;
text-align:center;
font-family:sans-serif;
}

table,td
{  font-size:26px;
  font-family:monospace;
  text-align: center;  
  }  
textarea
{
    width:50%
}
#header{
    background-image:url(bg1.jpg); 
    width:1340px; height:150px;
     position:absolute;
     top:0px;
}
#htxt{
     color:#fff; font-family: monospace; font-size:40px;
     position:absolute; left:200px;
}
#htxt2{
     color:#fff; font-family: monospace; font-size:30px;
     position:absolute; left:200px; top:40px;
}
#logo { background-image:url(dpslogo.jpg) ;
      position:absolute; top:0px; width:180px ; height:150px;
}
